* {
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: rgba(94, 94, 104, 0.705);
}

.btn {
  margin-left: 10px;
}

#login-container {
  height: 100vh;
}

#login-form {
  width: 40%;
  margin: 4%;
  margin-right: 10rem;
  float: right;
}

#register-container {
  height: 100vh;
}

#register-form {
  width: 40%;
  margin: 4%;
  margin-right: 10rem;
  float: right;
}

.content {
  padding-top: 5vh;
  display: flex;
  justify-content: space-between;
}

.inner-content {
  width: 24%;
}

.inner-card .card {
  width: 95%;
  margin: 1vh;
}

.modal-footer {
  display: flex;
  justify-content: space-around;
}